# App
APP_NAME=azure-genai-ops-copilot
APP_ENV=dev
APP_PORT=8000

# Azure AI Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX_NAME=ops-docs-index

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_CHAT_DEPLOYMENT=ChatModel

# Monitoring
AZURE_MONITOR_CONNECTION_STRING=